body { background: #000; font-family: 'Century Gothic'; padding: 0; margin: 0; }

/* Add styles for your slideshow */
@font-face {
  font-family: 'Century Gothic'; /* Name to reference your font */
  src: url('fonts/Century Gothic.ttf') format('truetype'); /* Path to your font file */
  /* Additional font formats for cross-browser compatibility */
  /* src: url('/fonts/YourFontFile.woff') format('woff'),
          url('/fonts/YourFontFile.woff2') format('woff2'); */
}
body {
    font-family: 'Century Gothic';
}

.menumainexploreresources { position: static; top: 0; left: 0; width: 100%; height: 100%; background: none;z-index: 99999; }
.menumainexploreresources .mianwrap { display: flex; flex-direction: column; }

.menumainexploreresources .mianwrap .boxesmain { display: flex; justify-content: center; }
.menumainexploreresources .mianwrap .boxesmain .box1 {position: relative; cursor: pointer; flex: 0 0 100%; max-width: 450px; background: #000; border: none; border-radius: 0; text-align: center; padding: 40px 25px 30px; margin: 0 20px; }
.menumainexploreresources .mianwrap .boxesmain .box1 .icon { max-width: 140px; margin: 0 auto 20px; }
.menumainexploreresources .mianwrap .boxesmain .box1 .icon img { max-width: 100%; }
.menumainexploreresources .mianwrap .boxesmain .box1 .text {color: #FFF; margin: 0 auto 25px; }
.menumainexploreresources .mianwrap .boxesmain .box1 .text span { display: block; font-size: 22px; }

.menumainexploreresources.fadeIn .mianwrap {
    padding: 0;
}
.menumainexploreresources .mianwrap .boxesmain .box1 .closedbtn {
    float: right;
    color: #FFF;
    top: 0;
    right: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 18px;
    border: 2px solid;
    border-radius: 43px;
    margin-top: 10px;
    margin-right: 10px;
}


.menumainexploreresources .mianwrap .boxesmain .box1.rspop-wide { max-width: 100%; max-height: none; box-sizing: border-box; overflow-y: auto; padding: 25px; }
.menumainexploreresources .mianwrap .boxesmain .box1.rspop-wide .closedbtn { line-height: 20px; }
.menumainexploreresources .mianwrap .boxesmain .box1.rspop-wide h2.rs-poptitle { margin-bottom: 25px; }
.resourcespopupmaster { display: flex; flex-wrap: wrap; }
.resourcespopupmaster .rs-pop-left-col { flex: 0 0 100%; max-width: 48%; margin: 0 4% 0 0; }
.resourcespopupmaster .rs-pop-right-col { flex: 0 0 100%; max-width: 48%; }
.resourcespopupmaster h2 { font-family: 'Century Gothic'; font-size: 26px; font-weight: 600; text-align: left; margin-bottom: 20px; }
.resourcespopupmaster .rs-item-list .rs-item { display: flex; align-items: flex-start; text-align: left; margin-bottom: 40px; }
.resourcespopupmaster .rs-item-list .rs-item:last-child { margin-bottom: 0; }
.resourcespopupmaster .rs-item-list .rs-item .rsi-left { display: none; flex: 0 0 100%; max-width: 120px; height: 120px; background: rgba(255,255,255,.5); margin-right: 25px; }
.resourcespopupmaster .rs-item-list .rs-item h3 { font-family: 'Century Gothic'; font-size: 22px; font-weight: 600; margin: 0 0 0.5rem; }
.resourcespopupmaster .rs-item-list .rs-item .btn-wrap { margin-bottom: 0; }
.resourcespopupmaster .rs-item-list .rs-item .btn-wrap a { display: inline-block; background: #1276bc; border-radius: 8px; font-size: 18px; color: #fff; font-weight: 600; line-height: 18px; text-decoration: none; letter-spacing: 1px; padding: 13px 20px 13px; }

@media (max-width: 900px) {
    .resourcespopupmaster .rs-pop-left-col { max-width: 100%; margin: 0 0 20px; }
    .resourcespopupmaster .rs-pop-right-col { max-width: 100%; }
}

@media (max-width: 592px) {
    .resourcespopupmaster .rs-item-list .rs-item .rsi-left { max-width: 80px; height: 80px; }
    .resourcespopupmaster .rs-item-list .rs-item h3 { font-size: 18px; margin: 0 0 10px; }
    .resourcespopupmaster .rs-item-list .rs-item p { font-size: 15px; margin: 0 0 15px; }
}
