<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /miami/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /miami/index.html [L]
</IfModule>
