.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Apply styles to the navigation container */
nav {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  text-align: center; /* Center-align text */
}

/* Style the list items */
ul {
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
}

/* Style the menu links */
a.list {
  text-decoration: none; /* Remove underlines from links */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Add padding to links */
  display: inline-block; /* Display links in a row */
  transition: background-color 0.3s; /* Smooth background color transition */
}

/* Change link background color on hover */
a.list:hover {
  background-color: #555;
}

/* Style the active link */
a.list.active {
  background-color: #007bff; /* Active link background color */
  font-weight: bold; /* Make the active link text bold */
}
